<nav class="navbar py-0 border-bottom border-black border-lg-3 border-2">
  <div class="container py-3 py-lg-6">
    <div class="d-flex align-items-center justify-content-between w-100 w-lg-auto">
      <h1 class="me-lg-11">
        <a class="d-flex align-items-center" href="index.html">
          <img class="h-40px h-lg-53px me-0 me-lg-4" src="../assets/images/header-logo.png" alt="7TAO活動訂票網">
          <span class="fs-5 text-black d-lg-block d-none me-1">7TAO</span>
          <span class="fs-11 font-serif fw-bold text-black d-lg-block d-none">活動訂票網</span>
        </a>
      </h1>
      <form class="d-flex">
        <div class="input-group mw-207px mw-lg-335px">
          <input class="form-control h-55px" type="search" placeholder="探索活動" aria-label="Search">
          <i class="icofont icofont-search-1 input-group-text bg-black text-primary"></i>
        </div>
      </form>
      <button class="d-block d-lg-none navbar-toggler border border-black border-1 rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul
      class="d-lg-flex d-none mb-0 mb-lg-0 mt-3 mt-lg-0 ps-3 ps-lg-0 py-6 py-lg-0 border-top border-lg-0 border-2 border-black">
      <li class="me-6 mb-4 mb-lg-0">
        <a class="custom-header-link" href="#">
          <i class="icofont icofont-ui-file me-1"></i>
          <span class="fs-10">REGISTER</span>
        </a>
      </li>
      <li>
        <a class="custom-header-link" href="#">
          <i class="icofont icofont-ui-user me-1"></i>
          <span class="fs-10">LOGIN</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="d-block d-lg-none navbar-nav mb-0 mb-lg-0 ps-3 ps-lg-0 py-6 py-lg-0 border-top border-lg-0 border-2 border-black">
      <li class="nav-item me-6 mb-4 mb-lg-0">
        <a href="#">
          <i class="icofont icofont-ui-file text-black me-1"></i>
          <span class="fs-10">REGISTER</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <i class="icofont icofont-ui-user text-black me-1"></i>
          <a class="fs-10" href="#">LOGIN</a>
        </a>
      </li>
    </ul>
  </div>
</nav>
