<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@icon/icofont/icofont.css">
    <title>event</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="mb-8 mb-lg-13">
      <div class="container">
        <h2
          class="d-flex justify-content-between align-items-center py-4 py-lg-6 px-3 px-lg-8 border border-black border-3 my-4 my-lg-8">
          <span class="fs-7 fs-lg-1 fw-normal">EVENT</span>
          <span class="fs-11 fs-lg-5 font-serif fw-bold">所有活動</span>
        </h2>
        <ul class="d-flex flex-wrap mb-lg-8">
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2 w-100 h-100" href="#">
              演出
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              音樂
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              舞蹈
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              戲劇
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              音樂會
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              課程講座
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              社群活動
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              展覽
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              研討會
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              電影
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              電音派對
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              遊戲競賽
            </a>
          </li>
          <li class="mb-4">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 " href="#">
              親子
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              藝文活動
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              運動
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              交通旅遊
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              美食
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              資訊科技
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              聯誼
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              戶外
            </a>
          </li>
          <li class="mb-4 mb-lg-0">
            <a class="position-relative font-serif online-tag fs-12 fs-lg-11 py-1 px-4 px-lg-6 me-2" href="#">
              線上活動
            </a>
          </li>
        </ul>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-8 mb-lg-13">
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-01.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">邪典電影派對——房間</h4>
                <p>
                  你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">社群活動</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">23 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-02.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">怪舞俱樂部</h4>
                <p>
                  覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">檢視活動</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">30 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-03.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">哈利波特馬拉松</h4>
                <p>
                  每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">聯誼</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">12 June 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-04.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">皮卡丘排球大賽</h4>
                <p>
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">25 June 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-05.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">酒精路跑</h4>
                <p>
                  身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">社群活動</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">9 July 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-06.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">展覽——我的房間</h4>
                <p>
                  每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">展覽</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-07.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">野營音樂祭</h4>
                <p>
                  喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-08.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">疊疊樂大賽</h4>
                <p>
                  來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-11 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">18 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-09.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">返老還童-制服聯誼</h4>
                <p>
                  由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">聯誼</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">檢視活動</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-0 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-10.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">野外求生17天</h4>
                <p>
                  野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">戶外</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-lg-0 mb-6">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-11.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">耳熟能詳音樂祭</h4>
                <p>
                  野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">演出</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0">
              <time class="fs-5 fs-lg-3 mb-4 mb-lg-3 pb-2 pb-lg-3 border-bottom border-3 border-black">19 MAY 2023</time>
              <div class="h-210px h-lg-255px">
                <img class="w-100 h-100 object-fit-cover" src="../assets/images/event-12.jpg" alt="event-img">
              </div>
              <div class="mb-4">
                <h4 class="fs-10 fs-lg-7 font-serif fw-bold py-2 py-lg-3">野營發呆大賽</h4>
                <p>
                  你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center border-top border-bottom border-2 border-black py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img class="h-24px me-1" src="../assets/images/sparkler.png" alt="sparkler-icon">
                  <span class="font-serif fw-bold custom-card-footer-type">遊戲競賽</span>
                </a>
                <a href="#" class="d-flex align-items-center position-relative custom-card-footer-detail">
                  <span class="fw-bold me-1">開賣中</span>
                  <i class="icofont icofont-rounded-double-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item me-2 h-40px w-40px">
              <a class="page-link position-relative w-100 h-100" href="#" aria-label="Previous">
                <i class="icofont icofont-arrow-left position-absolute top-50 start-50 translate-middle"></i>
              </a>
            </li>
            <li class="page-item me-2 h-40px w-40px text-center"><a class="fw-bold font-serif page-link w-100 h-100" href="#">1</a></li>
            <li class="page-item me-2 h-40px w-40px text-center active"><a class="fw-bold font-serif page-link w-100 h-100" href="#">2</a></li>
            <li class="page-item me-2 h-40px w-40px text-center"><a class="fw-bold font-serif page-link w-100 h-100" href="#">3</a></li>
            <li class="page-item me-2 h-40px w-40px text-center"><a class="fw-bold font-serif page-link w-100 h-100" href="#">4</a></li>
            <li class="page-item me-2 h-40px w-40px text-center"><a class="fw-bold font-serif page-link w-100 h-100" href="#">5</a></li>
            <li class="page-item h-40px w-40px">
              <a class="page-link position-relative w-100 h-100" href="#" aria-label="Next">
                <i class="icofont icofont-arrow-right position-absolute top-50 start-50 translate-middle"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
